# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- Phython Language
- R Language
- Julia
- SQL
- javaScript
- C++

Some of the popular language that Data Scientist use are:

order list
1. Phython Language
2. R Language
3. Julia
4. SQL
5. JavaScript
6. C++

Some of the commonly used libraries used by Data Scientists use are:

order list
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. Apache Spark
8. Scala
9. The Spark

|Data Science Tools|
|------------------|
|Phython Language|
|R Language|
|SQL|

### Below are a few examples of evaluating arithmetic expressions in Phython

This a simple arithmetic expression to multiply then ad integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author
Patrick Villamor